* {
    box-sizing: content-box;
}

html {
    background-color: #eee;
}

.panel {
    box-sizing: content-box;
    background: #fff;
    box-shadow:3px 2px 6px 1px #C9C9C9;
    -webkit-box-shadow:3px 2px 6px 1px #C9C9C9;
    -moz-box-shadow:3px 2px 6px 1px #C9C9C9;
    padding: 15px 15px;
}
