* {
    box-sizing: content-box;
}

html {
    background-color: #eee;
}

.panel {
    box-sizing: content-box;
    background: #fff;
    box-shadow:3px 2px 6px 1px #C9C9C9;
    -webkit-box-shadow:3px 2px 6px 1px #C9C9C9;
    -moz-box-shadow:3px 2px 6px 1px #C9C9C9;
    padding: 15px 15px;
}

.app-container {
    box-sizing: content-box;
    margin: 5em;
}

.app-container > div {
    margin-bottom: 25px;
}

.authors {
    color: grey;
    font-size: 1.1em;
    font-style: italic;
}

.dash-table-container {
    overflow-x: auto;
}

.years-of-code--config {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.years-of-code--config > * {
    margin-right: 10px;
}

.years-of-code--config > *[type='number'] {
    width: 60px;
}
